{{- define "mainContent" -}}
<div class="breadcrumb-wrapper">
{{partial "breadcrumb_code" .}}
</div>
<!-- call partial - Blog post header -->
{{partial "blog/post_header" .}}
{{partial "structure_list/list_post_structures" .}}
<section>
  <div class="page-padding">
    <div class="container-big">

      {{- $presentSection := .Section -}}
      {{- range first 3 (where .Site.RegularPages "Section" $presentSection) -}}
        {{partial "structure_list/structure_listed" .}}
      {{- end -}}

    </div>
  </div>
</section>

{{- end -}}
