<!-- This code represents the Breadcrumb at the top -->


<div class="breadcrumb-wrapper">
    <div class="container-big">
      <div class="breadcrumb-wrap">
        {{$homelink := "/" | relLangURL}}
        <a href="{{$homelink}}" class="breadcrumb-links">Home</a>
        {{if .IsSection}}
          <div class="divider-breadcrumbs">/</div>
          <a href="{{.RelPermalink}}" class="breadcrumb-links">{{.Section}}</a>
        {{end}}

        {{$sectionomo := .Section}}

        {{ if .IsPage}}
        <div class="divider-breadcrumbs">/</div>
        <a href="{{.Site.BaseURL }}{{.Section}}" class="breadcrumb-links">{{.Section}}</a> <div class="divider-breadcrumbs">/</div>
        <a href="{{.Permalink}}" aria-current="page" class="breadcrumb-links w--current">{{.LinkTitle }}</a>

        {{end}}
      </div>
    </div>
</div>
