<!-- This code represents the Breadcrumb at the top -->
{{- /* Breadcrumb code */ -}}
<div class="breadcrumb-wrapper">
    <div class="container-big">
      <div class="breadcrumb-wrap">
        {{$homelink := "/" | relLangURL}}
        <a href="{{$homelink}}" class="breadcrumb-links">Home</a>
        {{- if or ( eq .IsSection true) (eq .Type "Regularpages") -}}
          <div class="divider-breadcrumbs">/</div>
          <a href="{{.RelPermalink}}" class="breadcrumb-links">{{.Section}}</a>
        {{- end -}}
        {{ if .IsPage}}
        {{- if ne .Type "pages" -}} <div class="divider-breadcrumbs">/</div> {{- else -}}{{- end -}}
        <a href="{{.Site.BaseURL }}{{.Section}}" class="breadcrumb-links">{{.Section}}</a> <div class="divider-breadcrumbs">/</div>
        <a href="{{.Permalink}}" aria-current="page" class="breadcrumb-links w--current">{{.LinkTitle }}</a>
        {{- end -}}
      </div>
    </div>
</div>
