/* This is the style that overwrites the table */
table {
  line-height: 1.5;
  margin: 20px 0;
}
td, th {
  border: 1px solid #D1D1D1 !important;
  padding: 20px;
   vertical-align: top;
   text-align: left;
}
table tr:nth-child(even){background-color: #FDFBF2;}
thead { background-color: #fcf8e6 ;}


/* table of content styling */
h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
    display: block;
    content: " ";
    margin-top: -95px;
    height: 95px;
    visibility: hidden;
}
