<section>
  <div class="page_padding_down">
  <div class="container-big">
    {{- /* Featured image goes here */ -}}
    <div class="featured-image"><img src="{{.Params.Header.featuredimage}}" loading="lazy" sizes="90vw"  alt="{{.Params.Header.alternativetext}}" class="full-image"></div>

    <div class="blog-post-structure">
      {{if eq .Params.toc true}}
      <div class="tableofcontent">
        <div data-w-id="28873302-fd29-7053-b0b0-151971dd5b46" class="toc-header">
          <h2 class="toc-heading">Table of Content</h2>
          <div class="drop-down-icon">󰅀</div>
        </div>

        <div class="toc-content">
            {{ .TableOfContents }}
        </div>
      </div>
      {{end}}
      <div class="content-post-holder">
        <div class="div-block"><img src="{{.Params.Media.featuredimage}}" alt="{{.Params.Media.alt}}"></div>
        <div class="rich-content w-richtext">
          {{.Content}}
        </div>
      </div>
    </div>

  </div>
  </div>

</section>
